/* font-family: 'Amatic SC', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    font-family: 'Amatic SC', cursive;
    height: 100vh;
    justify-content: center;
}

#start-screen {
    display: block;
}

#start-section {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 15px;
}

input {
    padding: 10px;
    margin-right: 10px;
}