/* font-family: 'Amatic SC', cursive; */

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    font-family: 'Amatic SC', cursive;
    height: 100vh;
    justify-content: center;
}